@import url('https://fonts.googleapis.com/css?family=Doppio+One');

ul {
    list-style: none;
}

BODY {
    font-family: 'Doppio One', sans-serif;
    background-image: url('../img/index/guitars_bw4.png');
    background-size: 1920px 1080px;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #727272;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;

}

.nav-btns {
    display: flex;
}



#nav-header {
    width: auto;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    color: white;
}

a {
    font-size: 1.2rem;
    color: white;
    display: block;
    width: 80px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}

#kontakt-b #nav-header {
    color: black;
}

.footer-author {
    position: static;
    bottom: 0px;
    margin: 60px;
    text-align: center;
}

footer i {
    text-align: center;
}

#kontakt-b a {
    color: black;
}

#kontakt-b a:hover {
    color: white;
    transition: 100ms;
}

.scroll-top:hover {
    cursor: pointer;
    opacity: 100%;
    bottom: 70px;


}

.inst {
    width: 600px;
}

.scroll-top {
    position: fixed;
    right: 180px;
    bottom: 50px;
    width: 50px;
    height: auto;
    font-size: 8rem;
    border: none;
    opacity: 80%;
    background: none;
    color: white;
    mix-blend-mode: difference;
    transition: 400ms ease-in-out;
}

#muzyka #nav-header {
    color: black;
}

#muzyka a {
    color: black;
}

#muzyka a:hover {
    color: white;
    transition: 100ms;
}

* h1 {
    text-transform: uppercase;
}



.selected {
    text-decoration: underline;
}


a:hover {
    color: #c4c4c4;
    transition: 100ms;
}


.black {
    background-color: black;
}




::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #80808080;

}

::-webkit-scrollbar-thumb:active {
    background-color: #808080b1;

}

#jesse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 120px;
    margin: auto;


}



#jesse h1 {
    font-size: 4rem;

}

#jesse h1 {
    margin: 0;
}

#jesse p {
    font-size: 1.2rem;
}

#woody {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 100px;
    padding: 120px;
    margin-left: 8px;
    margin-right: 8px;
}

#woody div {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

}

#woody h1 {
    font-size: 4rem;

}

#woody h1 {
    margin: 0;
}



footer {
    display: flex;
    justify-content: center;
    height: auto;
}

.woody_icons {
    font-size: 2rem;
}

.part {
    height: 100vh;
}

.back-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#tracks {
    margin-top: 200px;
    position: relative;
    padding: 5px;
    height: 1080px;
    background-image: url(../img/muzyka/jackson-guitar.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}

.resp-table {
    overflow-x: auto;

}

#woody div p {
    font-size: 1.2rem;
    font-weight: normal;
}

#muzyka .resp-table {
    margin: auto;
    margin-top: 42.88px;
    margin-bottom: 42.88px;
}

#muzyka .track-list {
    display: flex;
    gap: 150px;
    flex-direction: column;
    width: 500px;
}


#muzyka .track-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-top: 150px;
}

#woody img {
    width: 360px;
    height: auto;
}




.vid {
    border: black solid 6px;
}




@media only screen and (max-width: 1165px) {
    header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .scroll-top {
        right: 51.5%;
    }
}

@media only screen and (max-width: 600px) {


    header {
        padding: 0;
    }


}



@media only screen and (max-width: 776px) {

    #muzyka .track-group {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 745px) {

    #muzyka .track-group {
        gap: 20px;
    }

}



@media only screen and (max-width: 115px) {

    body {
        padding: 0;
        margin: 0;
        background-size: 900px auto;
    }

    #nav-header {
        width: auto;

        margin: 0;
        font-size: 1.2rem;

    }


    header a {
        font-size: 1rem;
    }

}