#tracks h1 {
    font-size: 4rem;
    color: white;
    margin-left: 75px;

}

.track-group h4 {
    color: white;
    text-align: center;
}

.track-group {
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


}

h6 {
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

#video1 {
    position: relative;
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/muzyka/rdr1-backg.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

td {
    text-transform: capitalize;

}

#awards-title {
    margin-left: 75px;
}

table {
    margin: auto;
}



td:last-child {
    text-align: center;
}



table {
    border-collapse: collapse;
    border: black solid 3px;

}

#muzyka td,
th {
    border: black solid 2px;
    padding: 10px;
}

#awards-title {
    font-size: 4rem;
}

#video1 iframe {
    transition: 200ms ease-in-out;
    border-radius: 5px;
    background-color: black;
}

#video1 iframe:hover {
    box-shadow: 0px 0px 30px white;
}




@media only screen and (max-width: 1315px) {


    #woody {
        flex-direction: row;
        justify-content: center;

    }

    #woody div h1 {
        text-align: center;
    }

    #woody div p {
        text-align: justify;
    }
}

@media only screen and (max-width: 850px) {

    #awards-title {
        font-size: 3rem;
        text-align: center;

        margin-right: 75px;
    }

}




@media only screen and (max-width: 776px) {
    #tracks h1 {
        width: 200px;

    }


}

@media only screen and (max-width: 728px) {
    #track-list .track-group li audio {
        width: 75%;
        margin: auto;


    }

    .track-group h4 {

        text-align: center;
    }
}


@media only screen and (max-width: 645px) {
    table {
        overflow-x: auto;
    }

    td,
    th {
        padding: 0;
    }
}

/* #rdr-logo {
    position: absolute;
    width: 400px;
    height: auto;
    left: 200px;
    top: 50px;
} */

@media only screen and (max-width: 630px) {


    #tracks h1 {
        font-size: 2rem;
    }

    #awards-title {
        font-size: 2rem;
    }
}

/* @media only screen and (max-width: 800px) {

    #rdr-logo {
        display: none;
    }
} */