.menu-content {
    padding: 0 0 0 50px;

}.coll-menu {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid;

}.coll-menu ul {
    list-style-type: none;
    padding: 0;

}.coll-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.coll-menu label {
    font-size: 56px;
    display: block;
    cursor: pointer;
    /* background: url('../img/menu-b.svg') no-repeat left center; */
    padding: 10px 0 10px 50px;

}input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;

    padding: 0 0 0 50px;

}input:checked ~ label {
    background-image: url(close.png);

}input:checked ~ .menu-content {
    max-height: 100%;
}

#theme{
    background: none;
    border: none;
    cursor: pointer;
}